[submodule "qtterminalwidget"]
	path = qtterminalwidget
	url = https://github.com/jacob3141/qtterminalwidget.git
[submodule "SingleApplication"]
	path = SingleApplication
	url = https://github.com/itay-grudev/SingleApplication.git
